.md-header__button.md-logo {
  align-items: center;
  display: inline-flex !important;
  justify-content: center;
  min-width: 5rem;
}

.md-header__button.md-logo img,
.md-nav__button.md-logo img {
  height: 2.65rem;
  max-width: none;
  min-width: 4.95rem;
  width: auto;
}
